{% extends 'base.html' %}

{% block content %}
<div class="bg-black container">
    <div class="row container">
        <div class="col-sm bg-black mt-5">
            <h3 class="text-gradient text-heading text-heading-size ">EVENTIC</h3>
            <h5 class="text-black text-heading-subtitle">A celebration of success</h5>
            <p class="lead text-white mb-3 mx-1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint
                inventore
                magnam
                aut
                et. Iste itaque modi
                recusandae illo ad ipsa quasi! Reprehenderit unde cupiditate ullam neque. Distinctio recusandae quisquam
                eaque?
            </p>
            <div class="row">
                <div class="col col-lg-6 col-md-6">
                    <a class="btn btn-lg form-control bg-gradient"
                        href="{{ url_for(endpoint='user_registeration') }}">Get Registerted
                    </a>
                </div>
                <div class="col-sm">
                    <a class="col btn btn-lg text-white learn-more-btn" href="{{ url_for(endpoint='about') }}">Learn
                        More</a>
                </div>
            </div>
        </div>
        <div class="col col-lg-6 col-md-6 mx-auto">
            <img src="{{ url_for('static', filename='main page/main_illustration.png') }}" class="img-fluid ml-3">
        </div>
    </div>
    <div class="container my-5 py-5 ">
        <h3 class="text-center mx-auto text-gradient heading-box pb-2" style="width: 40vw;border-color: white;">
            Upcoming Events</h3>

        {% for event in events %}
        <div class="jumbotron jumbotron-fluid text-white m-3 mt-5">
            <div class="container ">
                <h3 class="text-white" style="font-weight: 600;">{{ event.title }} <span
                        class="badge text-white bg-gradient badge-info">{{
                        event.is_ticketed }}</span>
                </h3>
                <p class="lead">Organized by {{ event.head }}<br>
                    <b style="font-weight: 500;">Event Type:</b> {{ event.type }} <b style=" font-weight: 800;">|</b>
                    <b style="font-weight: 500;">Date: </b> {{ event.date
                    }}<br>
                    <a class="text-color text-info" href="{{ url_for(endpoint='event', id=event.id) }}">Learn More</a>
                </p>
            </div>
        </div>
        <hr class=" text-white w-50">
        {% endfor %}


    </div>

</div>
{% endblock content%}